<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seauf.user.dao.UserMapper">

    <select id="getUser" resultType="com.seauf.user.po.User">
        select * from base.sys_user where id = 1
    </select>

    <cache></cache>

    <sql id="entityColumnList">
        `ID`,`NAME`,`NICK_NAME`,`BIRYH`,`CREATED_BY`,`CREATE_TIME`,`LAST_UPDATED_BY`,`LAST_UPDATED_TIME`
    </sql>

    <insert id="insert">
        INSERT INTO
        base.sys_user
        (
        `NAME`,`NICK_NAME`,`BIRYH`,`CREATED_BY`,`CREATE_TIME`,`LAST_UPDATED_BY`,`LAST_UPDATED_TIME`
        )
        VALUES
        (
        #{ user.name },
        #{ user.nickName },
        #{ user.birth },
        #{ user.createdBy },
        now(),
        null,
        null
        )
    </insert>

</mapper>
